#root{
  width:80%;
  margin:0 auto;
  background-color: #4c0ab6cf;
  color:white;
  text-align: center;
  padding:3rem;
}
h1{
  text-transform: uppercase;
  letter-spacing: 2px;
}
textarea{
  width:70%;
  padding:1rem;
  border:none;
}
button{
  padding:.5rem 1rem;
  font-weight: 800;
  border-radius:4px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color:#4c0ab6cf;
  box-shadow: 0 0 10px 1px #e7e7e7;
  border:none;
}
h4{
  text-transform: capitalize;
  font-size:32px;
}